/* Margen para que el contenido no quede debajo del navbar fixed */
.margen-superior-main {
  margin-top: 70px;
  padding: 20px;
}

/* Navbar usando el color más oscuro de tu paleta (#0F5C4F) */
.color-navbar {
  background-color: #78b7af !important;
  border-bottom: 3px solid #9fc9c3; /* Un toque de color medio */
}

/* Color para los enlaces dentro del menú lateral (Offcanvas) */
.color-texto-marca {
  color: #2f8f84 !important;
  font-weight: bold;
  font-size: 18px;
}

/* Estilo para el hover de los links en la barra superior */
.nav-link-custom:hover {
  color: #BFDAD6 !important; /* El color más claro de la paleta */
}