/* Margen para que el contenido no quede debajo del navbar fixed */
.margen-superior-main {
  margin-top: 70px;
  padding: 20px;
}

/* Navbar usando el color más oscuro de tu paleta (#0F5C4F) */
.color-navbar {
  background-color: #78b7af !important;
  border-bottom: 3px solid #9fc9c3; /* Un toque de color medio */
}

/* Color para los enlaces dentro del menú lateral (Offcanvas) */
.color-texto-marca {
  color: #2f8f84 !important;
  font-weight: bold;
  font-size: 18px;
}

/* Estilo para el hover de los links en la barra superior */
.nav-link-custom:hover {
  color: #BFDAD6 !important; /* El color más claro de la paleta */
}

/* ===========================
   PAGINACIÓN PERSONALIZADA
=========================== */

/* Número activo */
.page-item.active .page-link {
  background-color: #0F5C4F !important;
  border-color: #0F5C4F !important;
  color: #ffffff !important;
  font-weight: 600;
}

/* Botones normales */
.page-link {
  color: #0F5C4F !important;
  border: 1px solid #d7e6e2 !important;
  transition: all 0.2s ease-in-out;
}

/* Hover */
.page-link:hover {
  background-color: #d9eee9 !important;
  border-color: #0F5C4F !important;
  color: #0F5C4F !important;
}

/* Click / Focus */
.page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(15, 92, 79, 0.25) !important;
}

/* Flechas deshabilitadas */
.page-item.disabled .page-link {
  color: #9ea7a5 !important;
  background-color: #f8f9fa !important;
  border-color: #dee2e6 !important;
}

/* ===========================
   SELECT DE PAGINACIÓN
=========================== */

.form-select {
  border-color: #0F5C4F !important;
  color: #0F5C4F !important;
}

/* Cuando le das click */
.form-select:focus {
  border-color: #0F5C4F !important;
  box-shadow: 0 0 0 0.2rem rgba(15, 92, 79, 0.25) !important;
}

/* index.css */

/* Efecto sutil de elevación para las tarjetas */
.translate-hover-y {
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.translate-hover-y:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important; /* Sombra más pronunciada al hover */
}

/* Define la fuente monospace de Bootstrap por si acaso */
.fw-mono {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Suaviza las líneas divisorias */
.opacity-15 {
  opacity: 0.15;
}